<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Ramais centralizados</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      O jeito mais fácil de encontrar os ramais dos seus companheiros de trabalho. 
      Você vai encontrar informações de contato como telefone e e-mail, 
      além de ter uma visão do departamento e das pessoas que trabalham nele.
      Um jeito simples, rápido e centralizado de encontrar o telefone correto 
      quando você precisar dele.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to "Cadastre-se", new_user_registration_path, 
        class:"btn btn-primary btn-lg px-4 gap-3" 
      %>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="features">
    <h2 class="pb-2 border-bottom">Por que usar essa ferramenta?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h2>Simples de achar</h2>
        <p>A lista de ramais dos seus colegas sempre vai estar a um clique de distância. Chega de tentar achar a folha de ramais para transferir uma ligação e não encontrar.</p>
      </div>
      <div class="feature col">
        <h2>Sempre atualizada</h2>
        <p>O jeito mais fácil de manter nossa lista de ramais atualizadas é fazendo ela ser dinâmica. Cada servidor sabe exatamente onde trabalha, qual é o seu ramal e seu e-mail.</p>
      </div>
      <div class="feature col">
        <h2>Compartilhado</h2>
        <p>A ideia de tornar a lista de ramais fácil e simples de usar e sempre atualizada é responsabilidade compartilhada de todos.</p>
      </div>
    </div>
  </div>
  <div class='container' id='faq'>
    <h2 class="pb-2">Perguntas Frequentes</h2>
    <div class="list-group">
      <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Ramais Centralizados é uma iniciativa da Prefeitura de Louveira?</h6>
            <p class="mb-0 opacity-75">Não, o Ramais centralizados é uma iniciativa de um funcionário que sofre com perda da lista e lista desatualizada.</p>
          </div>
        </div>
      </div>
      <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Os Ramais Centralizados é pago?</h6>
            <p class="mb-0 opacity-75">Não e nunca vai ser. É uma iniciativa que tem como úncio objetivo tornar nosso trabalho mais simples e produtivo. O foco é não perder tempo.</p>
          </div>
        </div>
      </div>
      <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Por que eu deveria me cadastrar?</h6>
            <p class="mb-0 opacity-75">Você deveria se cadastrar porque isso vai poupar tempo no seu trabalho além de ajudar todos os seus colegas que precisam de você para fazer o trabalho deles.</p>
          </div>
        </div>
      </div>
    </div>
  </div>