<h1>Notas de Versões</h1>

<ul>
  <li>
    <strong>0.1</strong>
    <p>A primeira versão lançada é para teste de conceito e do problema que 
    queremos resolver. Esperamos ter validado o problema com essa primeira versão
    e, caso tenhamos atingido nosso objetivo, vamos para a próxima entrega</p>
  </li>
  <li>
    <strong>Próxima versão</strong>
    <p>
      Vamos adicionar categorizção por setor e concertar alguns bugs que encontramos.
      Esperamos que nessa versão já tenhamos, pelo menos 10 usuários ativos.
    </p>
  </li>
</ul>
